<div id="home-show">

  <div id="photo-container">
    <div id="photo">
    </div>
  </div>

  <div id="content-container">
    <p>Hello, I'm Spencer.</p>
    <p>How can I help?</p>
    <br>
    <p><%= link_to "Portfolio", portfolio_path %></p>
    <p><%= link_to "Resume", resume_path %></p>
    <p><%= link_to "Blog", blog_index_path %></p>
    <p><a href="https://www.linkedin.com/in/spencer-alan/" target="_blank" rel="noopener noreferrer">LinkedIn</a></p>
    <p><a href="https://www.github.com/spenceralan/" target="_blank" rel="noopener noreferrer">GitHub</a></p>
  </div>

</div>