<%= render "layouts/navbar" %>
<div id="resume-show">
  <div class="container">

    <div class="section">
      <h3>About Me</h3>
      <p>I began coding in order to make my work life more efficient. I love solving problems, and Ruby gave me the tools to do it with precision. I generally prefer a simple elegant solution, but at the end of the day I know how to get the job done.</p>
    </div>

    <div class="section row">
      <div class="col-lg-4">
        <h4>Languages</h4>
        <p>Ruby</p>
        <p>JavaScript (ES6)</p>
        <p>Elixir</p>
        <p>SQL</p>
        <p>HTML5 & CSS</p>
      </div>

      <div class="col-lg-4">
        <h4>Frameworks</h4>
        <p>Rails</p>
        <p>Ember</p>
        <p>Angular</p>
        <p>Node.js</p>
      </div>

      <div class="col-lg-4">
        <h4>Skills</h4>
        <p>Passion for Learning</p>
        <p>Interpersonal Communication</p>
        <p>Identifying Process Efficiencies</p>
        <p>Test-Driven Development</p>
        <p>Open Source Contributor</p>
      </div>
    </div>

    <div class="section">
      <h3>Relevant Experience</h3>

      <div class="location-position-time">
        <h4>Paydici</h4>
        <p>Development Intern, 2017</p>
      </div>
      <ul>
        <li>
          Developed new, high-quality and fully peer reviewed features to assist staff with daily tasks.
        </li>
        <li>
          Collaborated with engineers and project manager to work on database migrations in MySQL, and maintain the app by triaging and fixing bugs.
        </li>
      </ul>

      <div class="location-position-time">
        <h4>TomKaneArt</h4>
        <p>Developer, 2017</p>
      </div>
      <ul>
        <li>
          Worked with a small team to build a Rails ecommerce website to sell paintings by the Portland artist Tom Kane.
        </li>
        <li>
          Started the process with an initial client meeting to discuss concepts and to learn more about him and his needs. In the design phase, we created templates for the client to interact with and for feedback.
        </li>
        <li>
          Integrated AWS S3 for image storage, Stripe for payment processing, and MailGun for email management, as well as fully encrypting the site with SSL protecting both the owner and visitors.
        </li>
      </ul>

      <div class="location-position-time">
        <h4>Uber</h4>
        <p>Partner Support Representative, 2015 - 2017</p>
      </div>
      <ul>
        <li>
          Took the initiative to write a Ruby program that automated Portland’s daily compliance requirements, thereby saving 250 hours a year.
        </li>
        <li>
          Solicited the company for processes that could be automated and on my own initiative built a Ruby program to automate Seattle’s weekly compliance obligations, saving nearly 1,000 hours of operations work per year.
        </li>
        <li>
          Automated Las Vegas’s daily compliance documentation by writing a Ruby program they could run daily to build the documents they sent to the city. Also reworked their SQL queries that were pulling incomplete and incorrect data.
        </li>
      </ul>

      <div class="location-position-time">
        <h4>Epicodus Chrome Extension</h4>
        <p>Developer, 2017</p>
      </div>
      <ul>
        <li>
          After identifying a pain point of daily lessons at Epicodus, built a Google Chrome extension to assist students with finding the attendance sign in page.
        </li>
        <li>
          Extension was integrated by Epicodus on all their machines in Portland and Seattle and is now a tool students interacts with daily.
        </li>
      </ul>
    </div>

    <div class="section">
      <h3>Education</h3>
      <div class="location-position-time">
        <h4>Epicodus</h4>
        <p>Ruby on Rails, 2017</p>
      </div>

      <div class="location-position-time">
        <h4>California State University, Long Beach</h4>
        <p>B.A. Religious Studies, 2010</p>
      </div>
    </div>

  </div>
</div>

<%= render "layouts/footer"%>