<nav class="navbar" id="footer">
  <ul>
    <li><%= link_to "Portfolio", portfolio_path %></li>
    
    <li><%= link_to "Resume", resume_path %></li>
    
    <li><a href="https://www.linkedin.com/in/spencer-alan/" target="_blank" rel="noopener noreferrer">LinkedIn</a></li>
    
    <li><a href="https://www.github.com/spenceralan/" target="_blank" rel="noopener noreferrer">GitHub</a></li>
    
    <li><%= mail_to "hello@spenceralan.com", "Contact" %></li>
  </ul>

  <p>© 2017 Spencer Alan</p>
</nav>