<% if object.present? && object.errors.any? %>
  <div class="container notices">
    <h3>Please fix these errors:</h3>
    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if notice %>
  <div class="container notices">
    <p class="notice"><%= notice %></p>
  </div>
<% end %>

<% if alert %>
  <div class="container notices">
    <p class="alert"><%= alert %></p>
  </div>
<% end %>